.home-content {
    background-color: #635a49;
    min-height: 100vh;
}

.home-header {
    margin: 20px 0;
}

.home-title {
    color: white;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}